@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;

  --color-base-100: #000000;
  --color-base-200: #111111;
  --color-base-300: #222222;
  --color-base-content: #ffffff;
}

html {
  background-color: #000000;
}

body {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}